body {
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'SejonghospitalBold';
    background-color: #F5F5DC;
    overflow: hidden;
  }
  
  @font-face {
    font-family: 'SejonghospitalBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

  .container {
    border: 10px solid white;
    border-radius: 20px;
    text-align: center;
    height:95vh;
  }
  
  
  .border-line {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  .button-reset{
    top: -104px;
    right: -135px;
  }
  
  .button-style {
    height: 80px;
    width: 100px;
    border-radius: 50px;
    font-size: 20pt;
    font-weight: bold;
    position: relative;
  }
  .pre-title {
    font-size: 3vw;
    font-weight: bold;
    color: #FFB000;
    margin-top: 15px;
  }
  .title {
    font-size: 5vw;
    font-weight: bold;
  }
  .sub-title {
    font-size: 4vw;
    font-weight: bold;
  }
  
  .main-img {
    width: 20vw;
    height: 27vh;
    margin:18px;
  }
  
  .red-text {
    color: #004225;
  }
  
  .form-control {
    height: 80px;
  
    font-size: 2vw;
    margin-right: 20px;
    text-align: center;
  }
  
  @media screen and (max-width: 48rem) {
    .pre-title {
      font-size: 10vw;
    }
    .title {
      font-size: 12vw;
    }
    .sub-title {
      font-size: 11vw;
    }
    .form-control {
      font-size: 5vw;
      max-width: 500px;
      margin-right: 0px;
    }
    .main-img {
      width: 40vw;
    }
    .button-reset {
      font-size: 5vw;
      position: relative;
      top: -13px;
      left: 10px;
    }
    .container{
      height: 100vh;
    }
    .button-style{
      height: 60px;
    }
  }